p {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    
    text-align: center;
    
    color: #EEEEEE;
}

h2 {
  color: #E11D48;
  text-align: center;
  font-family: 'Cursed Timer ULiL';
  font-style: normal;
  font-weight: 400;
}
@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1B244A
}

button {
  background-color: #1B244A;
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  color: rgb(41, 118, 211);
  border-radius: 1px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.15s, color 0.15s;
  text-align: center;
  font-family: 'Cursed Timer ULiL';
  font-style: normal;
  font-weight: 400;
}

button:hover {
  background-color: #1B244A;
  color: white;
}

button:active {
  opacity: 0.7;
}

.home,
.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-score,
.guest-score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  border-radius: 5px;
  background-color: black;
  
}


